<div id="contactform" class="site-page">
  <div class="hgroup top">
    <h2>Thanks for getting in touch!</h2>
  </div>
  <div class="section">
    <div class="maincol">
      <div class="sect">
	<p>Thanks for getting in touch! We'll get back to you soon.</p>
        <p><a href="/">&laquo; Great, let&rsquo;s go back to the site &laquo;</a>
      </div>
    </div>

<div class="whitespace"></div>

    <div class="poem">"One is often deceived in love, often wounded, often unhappy; but one loves, and on the brink of the grave one turns to look back and says: I have suffered often, sometimes I have been mistaken, but I have loved. It is I who have lived, and not a spurious being bred of my pride and my anxiety, my boredom and my sorrow."<br> - Alfred de Musset</div>
    
<div class="whitespace"></div>    

  </div>
</div>
