<div id="contactform" class="site-page">
  <div class="hgroup top">
    <h1>Contact</h1>
    <h2>Thanks!</h2>
  </div>
  <div class="section">
    <div class="maincol">
      <div class="sect">
        <p>We'll get back to you soon. Looking forward to making Nametag Day happen with you!</p>
        <a class="btn xl" href="/">Back home</a>
      </div>
    </div>
  </div>
</div>
