<div id="top">

  <div class="left-column">
    <h1>
      NAMETAG DAY – JUNE 1, NYC
    </h1>

    <p>Imagine everyone in New York City wearing a
    nametag. On June 1st we're aiming to make
    that happen. We'll have distribution sites
    around the city and we'll need all the help we
    can get! Register by May 26 to be part of the
    fun.</p>

    <%= link_to 'Register Now', new_registration_path, :class => 'btn' %>
    <small>Already registered? <%= link_to "Modify your registration" %></small>
  </div>

  <div class="right-column"></div>
</div>

<div id="twitter">
  <h2>
  Latest Nametag Day Updates from Twitter
  <small><%= link_to "View more" %></small>
  </h2>
</div>


<div id="bottom">

  <div class="left-column">
    <p>Meet Your Fellow New Yorkers
    Ever wanted to connect with the millions of New Yorkers walking past you? Each day brings opportunities to make new friends and share experiences. All too often, we can forget to notice the people around us. Nametag Day aims to break this barrier and strengthen the human element of the New York experience, adding a bit of spontaneity and silliness to people's days.</p>
    <p>Vehicula Cras Nullam Purus
    Maecenas sed diam eget risus varius blandit sit amet non magna. Donec sed odio dui. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec id elit non mi porta gravida at eget metus.</p>
  </div>

</div>