<style>
h4 {
margin-top:22px;
}


</style>

<div class="row">
<div class="span8">

 <h2>Nametag Volunteers</h2>

  <p class="c6 c8"></p>

  <p class="c6"><span class="c10">Volunteers write names on nametags and
  distribute them with a smile.</span></p>

  <p class="c6 c8"></p>

  <h3>What will I do?</h3>

  <p class="c6 c8"></p>

  <p class="c6"><span>- Show up to your location 20 min. early. Look for a Station Coordinator (SC), who will be wearing a smiley face hat.</span></p>

  <p class="c6 c8"></p>

  <p class="c6"><span>- Smile at passerby and say, &ldquo;Hi! Would you
  like a free nametag? It&rsquo;s Nametag Day, we're trying to get New Yorkers to talk to
  each other more.&rdquo;</span></p>

  <p class="c6 c8"></p>

  <ol class="c5" start="1">
    <li class="c7 c6"><span>If they say</span> <span class=
    "c3">YES</span><span>,</span></li>
  </ol>

  <p class="c6 c9"><span>&nbsp; 1. Write the person&rsquo;s name (can be nickname or any
  non-obscenity) on a nametag</span></p>

  <p class="c6 c9"><span>&nbsp; 2. Remove the sticker backing and dispose of the backing
  in your trash bag</span></p>

  <p class="c6 c9"><span>&nbsp; 3. Hand the nametag sticker to the person</span></p>

  <p class="c6 c9"><span>&nbsp; 4. Remind participants to please dispose of their
  nametags in the trash and not litter</span></p>

  <p class="c6 c9"><span>&nbsp; 5. Follow with, &ldquo;&#8203;We encourage you to talk to
  anybody wearing a nametag, or really anybody at all. We're trying to get New York to be
  a friendlier place for the day.&#8203;&rdquo;</span></p>

  <p class="c6 c8"></p>

  <p class="c6"><span>Feel free to continue speaking with the person a bit if neither of
  you is in a hurry. If they&rsquo;re interested in joining for NTD 2015, take down their
  name and email or phone number and send it to hello@nametagday.com. They won&rsquo;t be
  spammed.</span></p>

  <p class="c6 c8"></p>

  <p class="c6 c8"></p>

  <p class="c6"><span>- Once the shift is done, return any remaining supplies to your SC
  and spend 5 min. cleaning up any NTD-related trash at the distribution site.</span></p>

  <p class="c6 c8"></p>

  <h3>What do I need?</h3>

  <p class="c6 c8"></p>

  <p class="c6"><span>Please</span> <span>bring:</span></p>

  <p class="c6"><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- A
  smile</span></p>

  <p class="c6"><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Comfortable
  shoes</span></p>

  <p class="c6"><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- A
  backpack/purse/fannypack/pockets to store nametags</span></p>

  <p class="c6"><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- A grocery
  bag/purse/fannypack for trash (grocery bag can be tied to your belt loop)</span></p>

  <p class="c6"><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- A hat. Water if
  you&rsquo;ll get thirsty. It will probably be hot.</span></p>

  <p class="c6 c8"></p>

  <h3>What information should I know?</h3>

  <p class="c6 c9 c8"></p>

  <p class="c6"><span>Y</span><span class="c1">ou should be familiar with why we started
  Nametag Day. The basic point is</span><span>:</span> <span class=
  "c10">&ldquo;</span><span class="c11 c10">We want to encourage people to be more
  open.</span><span class="c10">&rdquo; &nbsp;</span></p>

  <p class="c6 c8"></p>

  <p class="c6"><span>In case of any emergencies, please call the Nametag Day organizers
  at</span> <span class="c3">(347) 699-2344.</span></p>

  <p class="c6 c8"></p>


  <p class="c6"><span>If your friend wants to participate in Nametag Day, please have
  them sign up at <a href="http://nametagday.com/site/volunteer">http://nametagday.com/site/volunteer</a>, or just bring them along on your shift!
</p>

  <p class="c6 c8"></p>

  <p class="c6"><span>Most of all, have fun! Nametag Day is an opportunity to celebrate
  connecting with people, and we hope you are getting excited to really make a difference
  in New Yorkers&rsquo; days.</span></p>


</div>
</div>