<style>
h4 {
margin-top:22px;
}


</style>

<div class="row">
<div class="span8">
<h1>Volunteer Training Outline</h1>

  <p class="c6 c8"></p>

  <p class="c6 c8"></p>

 <h2>Site Coordinator (SC) Volunteers</h2>

  <p class="c6 c8"></p>

  <p class="c6"><span class="c10">Site Coordinators interface between their site&rsquo;s
  volunteers and the organizing team, ensuring that the site is running smoothly,
  reporting issues to the coordinators, and training regular volunteers.</span></p>

  <p class="c6 c8"></p>

  <h3>What will I do?</h3>

  <p class="c6 c8"></p>

  <p class="c6"><span>-Morning SCs come to distribution hubs at 9.30am to get packets
  with nametags, markers and a sign, and leave with enough time to get to their site 20
  minutes before the shift starts (by 10:40am).</span></p>

  <p class="c6 c8"></p>

  <p class="c6"><span>-Wear the sign so volunteers can find you.</span></p>

  <p class="c6 c8"></p>

  <p class="c6"><span>-Check off volunteers that have arrived and give them mini
  trainings (see below).</span></p>

  <p class="c6 c8"></p>

  <p class="c6"><span>- Gauge where the most effective distribution spot is and, if
  necessary, shift sides of street or up/down the block. Be in the pedestrian traffic but
  not blocking it.</span></p>

  <p class="c6 c8"></p>

  <p class="c6"><span>-10 minutes after each shift starts, report back to hub via
  text/call to inform how many volunteers showed up and whether you&rsquo;ve shifted
  location. This will help us allocate unassigned volunteers.</span></p>

  <p class="c6 c8"></p>

  <p class="c6"><span>-When each</span> <span class="c1">shift ends, collect the
  remaining supplies, point out to volunteers what needs to be cleaned up,
  &#8203;&#8203;and tell volunteers they are free to leave once your site is
  clean.</span></p>

  <p class="c6 c8"></p>

  <p class="c6"><span class="c1 c14">-M</span><span class="c1">orning SCs stay until
  replaced by the Afternoon SCs. Afternoon SCs confirm when in position.</span></p>

  <p class="c6 c8"></p>

  <p class="c6"><span>-Afternoon SCs lead clean-up at their site and return remaining
  supplies to the distribution hubs.</span></p>

  <p class="c6 c8"></p>

  <h3>What do I need?</h3>

  <p class="c6 c8"></p>

  <p class="c6"><span>Everything a regular volunteer needs to bring (listed below), plus
  the packet containing your site&rsquo;s nametags, markers and poster.</span></p>

  <p class="c6 c8"></p>

  <h3>What information should I know?</h3>

  <p class="c6 c8"></p>

  <ol class="c5" start="1">
    <li class="c7 c6"><span>C</span><span>ontact i</span><span class="c1">nfo for NTD
    organizing team:</span> <span>call/text</span> <span class=
    "c3">347-699-2344</span></li>

    <li class="c7 c6"><span>D</span><span>istribution hub locations</span><span>: for
    Manhattan, go to NYC Social at</span> <span class="c3">40 W. 29th
    Street</span><span>.</span><span class="c3">&nbsp;</span><span>For Brooklyn, go
    to</span> <span class="c3">33 Flatbush Avenue, 4th Floor.</span></li>

    <li class="c7 c6"><span class="c1">Answers to FAQs: please visit nametagday.com and
    read through the FAQ page, and go through the general volunteer &ldquo;What
    information should I know&rdquo; section below.</span></li>

    <li class="c7 c6"><span class="c1">Location of after party:</span> <span class=
    "c1">Crime Scene at 310 Bowery in East Village</span></li>

    <li class="c7 c6"><span class="c11">Social media</span><span>: nametagday.com,</span>
    <span class="c0"><a class="c4" href=
    "https://twitter.com/search?q=%23NametagDay&amp;src=hash">#NametagDay!,</a></span><span>&nbsp;</span><span class="c0"><a class="c4"
    href="http://bit.ly/nametagday2013">i</a></span><span class="c0"><a class="c4" href=
    "http://instagram.com/nametagday">nstagram.com/nametagday</a></span><span>,</span>
    <span class="c0"><a class="c4" href=
    "https://www.facebook.com/NameTagDay">www.facebook.com/NameTagDay</a></span><span>,</span>
    <span class="c0"><a class="c4" href=
    "http://bit.ly/nametagday2013">http://bit.ly/nametagday2013</a></span></li>
  </ol>

  <p class="c6 c8"></p>

 <h2>Nametag Volunteers</h2>

  <p class="c6 c8"></p>

  <p class="c6"><span class="c10">Description: volunteers write names on nametags and
  distribute them with a smile.</span></p>

  <p class="c6 c8"></p>

  <h3>What will I do?</h3>

  <p class="c6 c8"></p>

  <p class="c6"><span>- Show up to your location 20 min. early to check in and get
  trained. Look for your Station Coordinator (SC), who will be walking around with a
  Nametag Day sign around their neck. You will also have their phone number.</span></p>

  <p class="c6 c8"></p>

  <p class="c6"><span>- During the shift, smile at passerby and say, &ldquo;Hi! Would you
  like a free nametag? It&rsquo;s Nametag Day, we're trying to get New Yorkers to talk to
  each other more.&rdquo;</span></p>

  <p class="c6 c8"></p>

  <ol class="c5" start="1">
    <li class="c7 c6"><span>If they say</span> <span class=
    "c3">YES</span><span>,</span></li>
  </ol>

  <p class="c6 c9"><span>&nbsp; 1. Write the person&rsquo;s name (can be nickname or any
  non-obscenity) on a nametag</span></p>

  <p class="c6 c9"><span>&nbsp; 2. Remove the sticker backing and dispose of the backing
  in your trash bag</span></p>

  <p class="c6 c9"><span>&nbsp; 3. Hand the nametag sticker to the person</span></p>

  <p class="c6 c9"><span>&nbsp; 4. Remind participants to please dispose of their
  nametags in the trash and not litter</span></p>

  <p class="c6 c9"><span>&nbsp; 5. Follow with, &ldquo;&#8203;We encourage you to talk to
  anybody wearing a nametag, or really anybody at all. We're trying to get New York to be
  a friendlier place for the day.&#8203;&rdquo;</span></p>

  <p class="c6 c8"></p>

  <p class="c6"><span>Feel free to continue speaking with the person a bit if neither of
  you is in a hurry. If they&rsquo;re interested in joining for NTD 2014, take down their
  name and email or phone number and send it to hello@nametagday.com. They won&rsquo;t be
  spammed.</span></p>

  <p class="c6 c8"></p>

  <ol class="c5" start="1">
    <li class="c7 c6"><span>If they say</span> <span class="c3">NO</span><span>&nbsp;say,
    &ldquo;Thanks anyway. I hope you have a great day.&rdquo;</span></li>
  </ol>

  <ol class="c5" start="1">
    <li class="c7 c6"><span>If they ask</span> <span class=
    "c3">WHY</span><span>&nbsp;say, &ldquo;So that we take a day to notice how we relate
    to people around us.&rdquo;</span></li>
  </ol>

  <ol class="c5" start="1">
    <li class="c6 c7"><span>If they</span> <span class="c3">DEBATE</span> <span>but are
    still listening, say &ldquo;Okay, well try taking the day to notice how you relate to
    (or interact with) people and see what you think.&rdquo;</span></li>
  </ol>

  <p class="c6 c8"></p>

  <p class="c6"><span>- Once the shift is done, return any remaining supplies to your SC
  and spend 5 min. cleaning up any NTD-related trash at the distribution site.</span></p>

  <p class="c6 c8"></p>

  <h3>What do I need?</h3>

  <p class="c6 c8"></p>

  <p class="c6"><span>Please</span> <span>bring:</span></p>

  <p class="c6"><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- A
  smile</span></p>

  <p class="c6"><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Comfortable
  shoes</span></p>

  <p class="c6"><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- A
  backpack/purse/fannypack/pockets to store nametags</span></p>

  <p class="c6"><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- A grocery
  bag/purse/fannypack for trash (grocery bag can be tied to your belt loop)</span></p>

  <p class="c6"><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Water if
  you&rsquo;ll get thirsty. Saturday should be in the 80s and sunny.</span></p>

  <p class="c6 c8"></p>

  <h3>What information should I know?</h3>

  <p class="c6 c9 c8"></p>

  <p class="c6"><span>Y</span><span class="c1">ou should be familiar with why we started
  Nametag Day. The basic point is</span><span>:</span> <span class=
  "c10">&ldquo;</span><span class="c11 c10">We want to encourage people to be more
  open.</span><span class="c10">&rdquo; &nbsp;</span></p>

  <p class="c6 c8"></p>

  <p class="c6"><span>In case of any emergencies, please call the Nametag Day organizers
  at</span> <span class="c3">(347) 699-2344.</span></p>

  <p class="c6 c8"></p>

  <p class="c6"><span>If your friend wants to participate in Nametag Day, please have
  them fill out the volunteer form at nametagday.com (signups between now and Friday
  night) or</span> <span class="c1">call/text Tim at (201) 221-6302 on Saturday 9am-3pm.
  We will allocate day-of volunteers to stations which need more hands, and do our best
  to place friends together. More volunteers are always welcome!</span></p>

  <p class="c6 c8"></p>

  <p class="c6"><span>Most of all, have fun! Nametag Day is an opportunity to celebrate
  connecting with people, and we hope you are getting excited to really make a difference
  in New Yorkers&rsquo; days.</span></p>


</div>
</div>