  <div class="row" style="text-align:center;">
	 
  </div>
  <div class="row">
	 <div class="span8">
		<div style="text-align:center;"><%= r_image_tag('the-nametag-day-team.png', :size => "214x300") %></div>
		<h4>Who we are</h4>
		<p style="text-align:left;">We're a group of friends with organizing experience who decided this would be a great way to spend our time. We're the ones jump-starting this particular endeavor, but anyone who puts on a nametag is part of Team Nametag Day!</p>
		<p style="text-align:left;"><%= link_to "Get in touch with us here", static_page_path(:name => "contact") %>.
	<p style="text-decoration:underline; text-align:center;">The core team:</p>
	<p style="text-align:center;">Matt Bergman
	<br>Nick Farina
	<br>Alejandro Garcia
	<br>Julia Kodysh
	<br>Mike Morgenstern
	<br>Tim O'Donnell
	<br>Pete Ostrovski
	<br>Emily Savin
	<br>Dina Tsukrov
	<br>Brett Wolfson-Stofko
	<br><br>
	<%= r_image_tag('image-us-big.jpg', :size => "450x250", :class => 'img-polaroid') %>
	<div style="font-size:11px; font-style:italic; text-align:center; line-height:15px; margin-top:2px;">Top row: Mike, Pete, Alex, Tim, Ale
	<br>Bottom row: Julia, Cristine*, Dina, Chulo*, Justine*, Benjamin*
	<br>( * = new friends we made!)</span>
	</p>


</div>


<div class="whitespace"></div>