  <div class="row" style="text-align:center;">
	 
  </div>
  <div class="row">
	 <div class="span8">
		<div style="text-align:center;"><%= r_image_tag('the-nametag-day-team.png', :size => "214x300") %></div>
		<h4>Who we are</h4>
		<p style="text-align:left;">We're a group of friends with organizing experience who decided this would be a great way to spend our time. We're the ones jump-starting this particular endeavor, but anyone who puts on a nametag is part of Team Nametag Day!</p>
		<p style="text-align:left;"><%= link_to "Get in touch here", static_page_path(:name => "contact") %>.
	<p style="text-decoration:underline; text-align:center;">The core team:</p>
	<p style="text-align:center;">Matt Bergman
	<br>Nick Farina
	<br>Einat Kadar
	<br>Julia Kodysh
	<br>Mike Morgenstern
	<br>Tim O'Donnell
	<br>Pete Ostrovski
	<br>Dina Tsukrov
	<br>Julie Wesenberg
	<br>Brett Wolfson-Stofko
	<br><br>
	<%= r_image_tag('image-us-big.jpg', :size => "450x250", :class => 'img-polaroid') %>
	<div style="font-size:11px; font-style:italic; text-align:center; line-height:15px; margin-top:2px;"></span>
	</p>
	</div>

  <div class="whitespace"></div>

	<h4>Special thanks to</h4>
	<p>Nametag Day wouldn't be the same without the support of these great people and organizations:</p>
	<p><a href="http://awesomefoundation.org">The Awesome Foundation</a>, <a href="http://nametag.com">nametag.com</a> and <a href="http://www.nycsocialsportsclub.com">NYC Social Sports Club</a></p>


</div>


<div class="whitespace"></div>