<div id="contactform" class="site-page">
  <div class="hgroup top">
    <h2>Thanks for your request!</h2>
  </div>
  <div class="section">
    <div class="maincol">
      <div class="sect">
        <p>We&rsquo;re reading all of these, we swear! Because we&rsquo;re a small, scrappy team it may take us a bit to get back to you, but we will.</p>
        <p>In the meantime, thanks for helping to make Nametag Day more awesome.</p>
        <p><a href="/">&laquo; Great, let&rsquo;s go back to the site &laquo;</a>
      </div>
    </div>

<div class="whitespace"></div>

    <div class="poem">"Be kind; everyone you meet is fighting a hard battle." <br>- Plato</div>
    
<div class="whitespace"></div>    

  </div>
</div>
