<div id="contactform" class="site-page">
  <div class="hgroup top">
    <h1>Event Request</h1>
    <h2>Thanks!</h2>
  </div>
  <div class="section">
    <div class="maincol">
      <div class="sect">
        <p>We take every single piece of feedback to heart and give it our time and attention. Because we&rsquo;re a small, scrappy little crew, we are likely hustling at this very moment to create new workshops and content. But we will get back to you just as soon as we can.</p>
        <p>In the meantime, thanks for taking the time to get in touch.</p>
        <a class="btn xl" href="/">Great, let&rsquo;s get back to making stuff.</a>
      </div>
    </div>
  </div>
</div>
