<h1>Register!</h1>

<p>Register to distribute nametags at one of our distribution sites. Pick an area of the city, pick a time, and invite friends to join you. Registration deadline is May 26.</p>

<%= form_for @member, :url => registration_path do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
<% end %>
￼￼￼