<h1>Sign up to hand out nametags!</h1>

<p style="width: 672px;">We'll be handing out nametags at popular spots across the city. Pick a general area and we'll give you a specific location later. If you don't know where you want to be yet.
<br>Or, <a href="http://eepurl.com/vvkkD">enter your email here</a> to be reminded to sign up a few weeks beforehand.</p>
<p><b>Click an area below. We'll do our best to put you nearby.</b></p>

<%= form_for @member, :url => registration_path, :html => { :onsubmit => "return validateForm();" } do |f| %>
  <%= render :partial => 'form', :locals => {:f => f, :editing => false} %>
<% end %>

<div class="whitespace"></div>

    <div class="poem">"Do stuff. Be clenched, curious. Not waiting for inspiration's shove or society's kiss on your forehead. Pay attention. It's all about paying attention. attention is vitality. It connects you with others. It makes you eager. Stay eager."<br>- Susan Sontag</div>

<div class="whitespace"></div>
