<p>We've marked you as canceled. You can reactivate your registration anytime before <b>May 26</b> by visiting the following link.</p>

<p>
  <%= link_to edit_registration_url(:token => @member.reservation_token) %>
</p>